In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
import os
# Import the API key.
from config import g_key
gmaps.configure(api_key=g_key)

In [2]:
# Establishing the file path to load the csv data from
data_to_load = os.path.join("weather_data", "cities.csv")

In [3]:
city_data_df = pd.read_csv(data_to_load)
city_data_df

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Vaini,-21.2000,-175.2000,80.20,83,53,16.84,TO,2022-02-09 22:55:40
1,1,Saint George,37.1041,-113.5841,70.27,18,0,10.00,US,2022-02-09 22:51:01
2,2,Fuerte Olimpo,-21.0415,-57.8738,83.03,22,5,4.14,PY,2022-02-09 22:55:41
3,3,Port Elizabeth,-33.9180,25.5701,62.89,88,0,5.75,ZA,2022-02-09 22:51:38
4,4,Atuona,-9.8000,-139.0333,78.64,77,20,17.63,PF,2022-02-09 22:55:43
...,...,...,...,...,...,...,...,...,...,...
548,548,Udgir,18.3833,77.1167,65.14,51,31,5.30,IN,2022-02-09 23:35:00
549,549,Saurimo,-9.6608,20.3916,61.93,87,32,2.71,AO,2022-02-09 23:35:01
550,550,Otautau,-46.1500,168.0000,72.45,38,47,3.00,NZ,2022-02-09 23:35:01
551,551,Murgab,37.4966,61.9714,37.27,93,0,4.61,TM,2022-02-09 23:30:58
552,552,Lukiv,51.0521,25.4006,44.42,87,100,16.17,UA,2022-02-09 23:35:02

In [4]:
city_data_df

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Vaini,-21.2000,-175.2000,80.20,83,53,16.84,TO,2022-02-09 22:55:40
1,1,Saint George,37.1041,-113.5841,70.27,18,0,10.00,US,2022-02-09 22:51:01
2,2,Fuerte Olimpo,-21.0415,-57.8738,83.03,22,5,4.14,PY,2022-02-09 22:55:41
3,3,Port Elizabeth,-33.9180,25.5701,62.89,88,0,5.75,ZA,2022-02-09 22:51:38
4,4,Atuona,-9.8000,-139.0333,78.64,77,20,17.63,PF,2022-02-09 22:55:43
...,...,...,...,...,...,...,...,...,...,...
548,548,Udgir,18.3833,77.1167,65.14,51,31,5.30,IN,2022-02-09 23:35:00
549,549,Saurimo,-9.6608,20.3916,61.93,87,32,2.71,AO,2022-02-09 23:35:01
550,550,Otautau,-46.1500,168.0000,72.45,38,47,3.00,NZ,2022-02-09 23:35:01
551,551,Murgab,37.4966,61.9714,37.27,93,0,4.61,TM,2022-02-09 23:30:58
552,552,Lukiv,51.0521,25.4006,44.42,87,100,16.17,UA,2022-02-09 23:35:02

In [5]:
# Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date           object
dtype: object

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Vaini,-21.2000,-175.2000,80.20,83,53,16.84,TO,2022-02-09 22:55:40
2,2,Fuerte Olimpo,-21.0415,-57.8738,83.03,22,5,4.14,PY,2022-02-09 22:55:41
4,4,Atuona,-9.8000,-139.0333,78.64,77,20,17.63,PF,2022-02-09 22:55:43
5,5,Sao Raimundo Nonato,-9.0153,-42.6994,79.14,40,50,3.71,BR,2022-02-09 22:55:44
8,8,Atambua,-9.1061,124.8925,75.90,87,100,1.52,ID,2022-02-09 22:55:46
19,19,Kongoussi,13.3258,-1.5347,75.78,11,0,9.13,BF,2022-02-09 22:55:53
21,21,Puerto Ayora,-0.7393,-90.3518,82.36,76,74,7.61,EC,2022-02-09 22:55:55
23,23,Kloulklubed,7.0419,134.2556,79.30,78,100,12.10,PW,2022-02-09 22:55:57
24,24,San-Pedro,4.7485,-6.6363,78.48,90,28,4.92,CI,2022-02-09 22:55:57
26,26,Kavaratti,10.5669,72.6420,79.12,72,99,15.35,IN,2022-02-09 22:55:59

In [12]:
preferred_cities_df.count()

City_ID       142
City          142
Lat           142
Lng           142
Max Temp      142
Humidity      142
Cloudiness    142
Wind Speed    142
Country       142
Date          142
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                   City Country  Max Temp      Lat       Lng Hotel Name
0                 Vaini      TO     80.20 -21.2000 -175.2000
2         Fuerte Olimpo      PY     83.03 -21.0415  -57.8738
4                Atuona      PF     78.64  -9.8000 -139.0333
5   Sao Raimundo Nonato      BR     79.14  -9.0153  -42.6994
8               Atambua      ID     75.90  -9.1061  124.8925
19            Kongoussi      BF     75.78  13.3258   -1.5347
21         Puerto Ayora      EC     82.36  -0.7393  -90.3518
23          Kloulklubed      PW     79.30   7.0419  134.2556
24            San-Pedro      CI     78.48   4.7485   -6.6363
26            Kavaratti      IN     79.12  10.5669   72.6420

In [14]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [15]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

In [22]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Vaini,TO,80.20,-21.2000,-175.2000,Keleti Beach Resort
2,Fuerte Olimpo,PY,83.03,-21.0415,-57.8738,Hospedaje DAMI
4,Atuona,PF,78.64,-9.8000,-139.0333,Villa Enata
5,Sao Raimundo Nonato,BR,79.14,-9.0153,-42.6994,Real Hotel
8,Atambua,ID,75.90,-9.1061,124.8925,Pastori 1 Jemaat Polycarpus
...,...,...,...,...,...,...
534,Padang,ID,75.25,-0.9492,100.3543,
535,San Juan,AR,88.25,-31.5375,-68.5364,
538,Wanaka,NZ,75.11,-44.7000,169.1500,
540,Kapoeta,SS,82.74,4.7717,33.5903,
547,Lazaro Cardenas,MX,79.52,17.9583,-102.2000,

In [17]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [21]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))