## Deliverable 2. Create a Customer Travel Destinations Map.

In [89]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

import os

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [90]:
# Getting data to load
file_to_load = os.path.join("..", "Weather_Database", "WeatherPy_Database.csv")

In [91]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv(file_to_load)
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,New Norfolk,AU,-42.7826,147.0587,56.70,67,77,2.66,Broken Clouds
1,1,Saskylakh,RU,71.9167,114.0833,0.63,77,41,13.38,Scattered Clouds
2,2,Huarmey,PE,-10.0681,-78.1522,76.26,71,80,10.74,Broken Clouds
3,3,Longyearbyen,SJ,78.2186,15.6401,10.24,79,0,13.80,Clear Sky
4,4,Lorengau,PG,-2.0226,147.2712,80.76,76,95,4.09,Overcast Clouds

In [92]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [93]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
clean_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
clean_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
2,2,Huarmey,PE,-10.0681,-78.1522,76.26,71,80,10.74,Broken Clouds
4,4,Lorengau,PG,-2.0226,147.2712,80.76,76,95,4.09,Overcast Clouds
6,6,Carnarvon,AU,-24.8667,113.6333,82.47,69,40,12.66,Scattered Clouds
8,8,Hithadhoo,MV,-0.6000,73.0833,81.81,68,85,10.51,Overcast Clouds
10,10,Saint-Philippe,RE,-21.3585,55.7679,78.39,79,16,6.82,Few Clouds
12,12,Beira,MZ,-19.8436,34.8389,84.29,70,20,13.80,Few Clouds
14,14,Mahebourg,MU,-20.4081,57.7000,80.89,78,40,1.14,Scattered Clouds
16,16,Georgetown,MY,5.4112,100.3354,82.89,80,20,3.44,Few Clouds
21,21,Namibe,AO,-15.1961,12.1522,78.75,70,48,10.76,Scattered Clouds
28,28,Arraial Do Cabo,BR,-22.9661,-42.0278,82.36,69,75,6.91,Broken Clouds

In [94]:
# 4a. Determine if there are any empty rows.
clean_df.count()

City_ID                202
City                   202
Country                199
Lat                    202
Lng                    202
Max Temp               202
Humidity               202
Cloudiness             202
Wind Speed             202
Current Description    202
dtype: int64

In [95]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = clean_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
2,2,Huarmey,PE,-10.0681,-78.1522,76.26,71,80,10.74,Broken Clouds
4,4,Lorengau,PG,-2.0226,147.2712,80.76,76,95,4.09,Overcast Clouds
6,6,Carnarvon,AU,-24.8667,113.6333,82.47,69,40,12.66,Scattered Clouds
8,8,Hithadhoo,MV,-0.6000,73.0833,81.81,68,85,10.51,Overcast Clouds
10,10,Saint-Philippe,RE,-21.3585,55.7679,78.39,79,16,6.82,Few Clouds
...,...,...,...,...,...,...,...,...,...,...
662,662,Bengkulu,ID,-3.8004,102.2655,76.78,86,100,4.79,Overcast Clouds
675,675,Cairns,AU,-16.9167,145.7667,78.75,85,40,5.75,Scattered Clouds
676,676,Mvangue,CM,2.9667,11.5167,85.71,28,21,0.36,Few Clouds
682,682,Pilar,BR,-9.5972,-35.9567,87.73,51,57,15.43,Broken Clouds
683,683,Jutai,BR,-5.1833,-68.9000,84.90,74,91,2.46,Overcast Clouds

In [96]:
clean_df.count()

City_ID                199
City                   199
Country                199
Lat                    199
Lng                    199
Max Temp               199
Humidity               199
Cloudiness             199
Wind Speed             199
Current Description    199
dtype: int64

In [97]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Huarmey,PE,76.26,Broken Clouds,-10.0681,-78.1522,
4,Lorengau,PG,80.76,Overcast Clouds,-2.0226,147.2712,
6,Carnarvon,AU,82.47,Scattered Clouds,-24.8667,113.6333,
8,Hithadhoo,MV,81.81,Overcast Clouds,-0.6000,73.0833,
10,Saint-Philippe,RE,78.39,Few Clouds,-21.3585,55.7679,
12,Beira,MZ,84.29,Few Clouds,-19.8436,34.8389,
14,Mahebourg,MU,80.89,Scattered Clouds,-20.4081,57.7000,
16,Georgetown,MY,82.89,Few Clouds,5.4112,100.3354,
21,Namibe,AO,78.75,Scattered Clouds,-15.1961,12.1522,
28,Arraial Do Cabo,BR,82.36,Broken Clouds,-22.9661,-42.0278,

In [101]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.

for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    params["location"] = f"{lat},{lng}"
    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [103]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Huarmey,PE,76.26,Broken Clouds,-10.0681,-78.1522,Hotel Miramar
4,Lorengau,PG,80.76,Overcast Clouds,-2.0226,147.2712,Lorengau Harbourside Hotel
6,Carnarvon,AU,82.47,Scattered Clouds,-24.8667,113.6333,Hospitality Carnarvon
8,Hithadhoo,MV,81.81,Overcast Clouds,-0.6000,73.0833,Scoop Guest House
10,Saint-Philippe,RE,78.39,Few Clouds,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
...,...,...,...,...,...,...,...
662,Bengkulu,ID,76.78,Overcast Clouds,-3.8004,102.2655,Grage Hotel Bengkulu
675,Cairns,AU,78.75,Scattered Clouds,-16.9167,145.7667,Mantra Trilogy Cairns
676,Mvangue,CM,85.71,Few Clouds,2.9667,11.5167,
682,Pilar,BR,87.73,Broken Clouds,-9.5972,-35.9567,Pousada e churrascaria Manguaba
683,Jutai,BR,84.90,Overcast Clouds,-5.1833,-68.9000,

In [104]:
# 8a. Create the output File (CSV)
output_data_file = os.path.join("..", "Weather_Database", "WeatherPy_vacation.csv")
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [105]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [106]:
# 11a. Add a marker layer for each city to the map. 
locations = clean_hotel_df[["Lat", "Lng"]]
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# 11b. Display the figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))